#arrowAnim {
    position: absolute;
    top: 50%;
    right: 1%;
    height: 30px; /* Set your desired height for the arrows */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.arrow {
    width: 10px; /* Set your desired width for the arrows */
    height: 10px; /* Set your desired height for the arrows */
    border: 5px solid;
    border-color: #d31111 transparent transparent #d31111;
    transform: rotate(135deg);
    margin: 0 5px; /* Adjust the margin as needed */
}
  
.arrowSliding {
    position: relative;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}
  
.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
  
@-webkit-keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-15px);
    }
    20% {
      opacity: 1;
      transform: translateX(-9px);
    }
    80% {
      opacity: 1;
      transform: translateX(9px);
    }
    100% {
      opacity: 0;
      transform: translateX(15px);
    }
}
  
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-15px);
    }
    20% {
      opacity: 1;
      transform: translateX(-9px);
    }
    80% {
      opacity: 1;
      transform: translateX(9px);
    }
    100% {
      opacity: 0;
      transform: translateX(15px);
    }
}

.template-box {
    position: relative;
    margin: 50px 0 0 0;
}

.classic-view-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    gap: 50px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    border-radius: 10px 10px 0 0;
    border-bottom: 10px solid #545454;
}

.classic-view-header .name-designation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    flex-shrink: 2;
}

.classic-view-header .name-designation p i {
    color: #3b3b3b;
    font-weight: thin;
    font-size: 34px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.classic-view-header .name-designation p span {
    color: #545454;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.classic-view-header .name-designation p small {
    color: #545454;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.classic-view-header .details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: auto;
    padding: 2rem 2rem;
    box-sizing: border-box;
    flex-shrink: 2;
}

.classic-view-header .details p small {
    color: #545454;
    font-weight: normal;
    font-size: 18px;
    margin-right: 15px;
    letter-spacing: 1.5px;
}

.classic-view-header .line {
    width: 100%;
    height: 2px;
    background-color: #545454;
    margin: 3px 10px 10px 0px;
}

.classic-view-header .img {
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
}

.classic-view-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2rem 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.classic-view-content h1 {
    width: 50%;
    text-align: center;
    color: #545454;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 2px solid rgba(84, 84, 84, 0.5);
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 25%;
}

.classic-view-content p {
    width: 80%;
    padding: 10px;
    letter-spacing: 1.5px;
    margin-left: 10%;
    text-align: justify;
}

.content-holder-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 100%;
    height: auto;
    padding: 0;
    box-sizing: border-box;
    margin: 25px 0 0 0;
}

.grid-1 {
    height: auto;
    padding: 1rem 1rem 1rem 2rem;
    border-right: 2px solid #545454;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    box-sizing: border-box;
}

.grid-1 h2 {
    width: auto;
    text-align: left;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 3px 30px 0 0;
    border-bottom: 2px solid rgba(84, 84, 84, 0.5);
    letter-spacing: 1.5px;
}

.grid-1 h4 {
    width: auto;
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

.grid-1 h5 {
    width: auto;
    font-size: 16px;
    margin: 0;
}

.grid-1 p {
    width: auto;
    font-size: 14px;
    margin: 0;
}

.grid-2 {
    height: auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    box-sizing: border-box;
}

.grid-2 h2 {
    width: auto;
    text-align: left;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    padding: 3px 30px 0 0;
    border-bottom: 2px solid #545454;
    letter-spacing: 1.5px;
}

.grid-2 h4 {
    width: auto;
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

.grid-2 h5 {
    width: auto;
    font-size: 16px;
    margin: 0;
}

@media print {
    .classic-view-header {
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        background-color: #dbd8d8;
        gap: 20px;
    }

    .classic-view-header .name-designation {
        padding: 1rem 10px;
        flex-shrink: none;
        width: 40%;
    }

    .classic-view-header .line {
        height: 4px;
    }

    .classic-view-header .name-designation p i {
        font-size: 18px;
    }
    
    .classic-view-header .name-designation p span {
        font-size: 20px;
    }
    
    .classic-view-header .name-designation p small {
        font-size: 14px;
    }
    .classic-view-header .details {
        gap: 10px;
        padding: 2rem 5px;
        flex-shrink: none;
    }
    
    .classic-view-header .details p small {
        font-size: 12px;
        text-wrap: wrap;
    }
    .classic-view-content {
        padding: 1rem 0;
    }
    
    .classic-view-content h1 {
        width: 50%;
        text-align: center;
        font-size: 20px;
    }
    
    .classic-view-content p {
        width: 90%;
        font-size: 12px;
        margin-left: 5%;
    }

    .content-holder-grid {
        grid-template-columns: 45% 55%;
        grid-gap: 2px;
        margin: 25px 0 0 0;
    }

    .grid-1 h2 {
        font-size: 16px;
    }

    .grid-1 h4 {
        font-size: 15px;
    }
    
    .grid-1 h5 {
        width: auto;
        font-size: 14px;
        margin: 0;
    }

    .grid-1 p {
        width: auto;
        font-size: 13px;
        margin: 0;
    }
    
    .grid-2 h2 {
        font-size: 16px;
    }

    .grid-2 h4 {
        font-size: 15px;
    }
    
    .grid-2 h5 {
        width: auto;
        font-size: 14px;
        margin: 0;
    }

    .grid-2 p {
        width: auto;
        font-size: 13px;
        margin: 0;
    }
}




