.download {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

.download .classic-view-header {
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;
    gap: 20px;
    box-sizing: border-box;
    height: auto;
    border-radius: 0;
    border-bottom: 5px solid #545454;
}

.download .classic-view-header .name-designation {
    padding: 1rem 2rem;
    flex-shrink: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    box-sizing: border-box;
}

.download .classic-view-header .line {
    height: 2px;
    width: 100%;
    background-color: #545454;
    margin: 3px 10px 10px 0px;
}

.download .classic-view-header .name-designation p i {
    font-size: 20px;
    color: #3b3b3b;
    font-weight: thin;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.download .classic-view-header .name-designation p span {
    font-size: 22px;
    color: #545454;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.download .classic-view-header .name-designation p small {
    font-size: 16px;
    color: #545454;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.download .classic-view-header .img {
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
}

.download .classic-view-header .details {
    gap: 10px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.download .classic-view-header .details p small {
    font-size: 12px;
    text-wrap: wrap;
    color: #545454;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.download .classic-view-header .details p small.smallest {
    font-size: 10px;
    text-wrap: wrap;
    color: #545454;
    font-weight: normal;
    letter-spacing: 1.5px;
}

.download .classic-view-content {
    padding: 1rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.download .classic-view-content h1 {
    width: 50%;
    text-align: center;
    font-size: 20px;
    text-align: center;
    color: #545454;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 2px solid rgba(84, 84, 84, 0.5);
    letter-spacing: 1.5px;
    margin-left: 25%;
}

.download .classic-view-content p {
    width: 90%;
    font-size: 12px;
    margin-left: 5%;
    padding: 10px;
    letter-spacing: 1.4px;
    text-align: justify;
}

.download .content-holder-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-gap: 2px;
    width: 100%;
    height: auto;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.download .grid-1 {
    height: auto;
    padding: 1rem 1rem 1rem 3rem;
    border-right: 2px solid rgba(84, 84, 84, 0.5);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    box-sizing: border-box;
}

.download .grid-1 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 5px 0 0 0;
}

.download .grid-1 ul li {
    margin: 0 0 0 25px;
    font-size: 13px;
    text-align: justify;
    padding: 0;
}

.download .grid-1 h2 {
    font-size: 16px;
    width: auto;
    text-align: left;
    font-weight: 100;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    padding: 3px 30px 0 0;
    border-bottom: 2px solid rgba(84, 84, 84, 0.5);
    letter-spacing: 1.5px;
}

.download .grid-1 h4 {
    font-size: 15px;
    width: auto;
    text-align: left;
    font-weight: 100;
    margin: 0;
}

.download .grid-1 h5 {
    width: auto;
    font-size: 14px;
    margin: 0;
}

.download .grid-1 p {
    width: auto;
    font-size: 13px;
    margin: 0;
}

.download .grid-2 {
    height: auto;
    padding: 1rem 3rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    box-sizing: border-box;
}

.download .grid-2 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 5px 0 0 0;
}

.download .grid-2 ul li {
    font-size: 13px;
    text-align: justify;
    padding: 0;
    margin: 0 0 0 25px;
}

.download .grid-2 h2 {
    font-size: 16px;
    width: auto;
    text-align: left;
    font-weight: 100;
    text-transform: uppercase;
    padding: 3px 30px 0 0;
    border-bottom: 2px solid rgba(84, 84, 84, 0.5);
    letter-spacing: 1.5px;
    margin: 10px 0 0 0;
}

.download .grid-2 h4 {
    font-size: 15px;
    width: auto;
    text-align: left;
    font-weight: 100;
    margin: 0;
}

.download .grid-2 h5 {
    width: auto;
    font-size: 14px;
}

.download .grid-2 p {
    width: auto;
    font-size: 13px;
    margin: 0;
}