.single-category-view {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    box-sizing: border-box;
    width: 96%;
    height: auto;
}

.detail-box {
    /* position: sticky;
    -webkit-position: sticky;
    top: -10px; */
    position: relative;
    width: 20%;
    height: auto;
    padding: 1rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(87, 87, 87, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    background-color: #242323;
}

@media screen and (max-width: 768px) {
    .detail-box {
        display: none;
    }
    
}

.toast {
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(90deg, rgba(46, 100, 255, 0.25) 0%, rgba(192, 37, 255, 0.25) 100%); ;
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    transition: all 0.5s ease-in-out;
    width: 18%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 15px;
    position: fixed;
    top: 30%;
    left: 27%;
    z-index: 100;
}

.toast::before {
    content: '';
    position: absolute;
    top: 5%;
    left: -20px; /* Adjust this value to control the pointy shape's size */
    transform: translateY(50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0; /* Adjust this value to control the pointy shape's size */
    border-color: transparent rgba(46, 100, 255, 0.25) transparent transparent; /* Match the background color of the toast */
}

.toast .close {
    color: #C026FF;
    border: none;
    background-color: #fff;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    padding: 6px 6px 0 6px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
}

.toast h5 {
    font-size: 18px;
    font-weight: 500;
}

.toast p {
    font-size: 16px;
    line-height: 1.5;
}

.toast .dont-show {
    margin: 20px 0 0 10px;
}

.toast label {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 20px 10px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
}

.detail-box h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid rgba(87, 87, 87, 0.3);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    background: #2E64FF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2E64FF 0%, #C026FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 100%;
}

.detail-box h4 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    padding: 20px 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
}

.detail-box p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 20px 30px;
    line-height: 1.3;
    color: #fff;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}


.detail-box ul {
    margin: 0;
    padding: 1rem 2rem 1rem 2.5rem;
    list-style-type: circle;
}

.detail-box ul h4 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 20px 0;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
    width: 100%;
}

.detail-box li {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 1.3;
    color: #fff;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}

.detail-box li span {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    padding: 0 0 1px 0;
}

.selection-box {
    width: 55%;
    height: auto;
    padding: 0.5rem 0 1rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.selection-box h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    background: #2E64FF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2E64FF 0%, #C026FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 100%;
}

.resume-box {
    width: 100%;
    height: auto;
    padding: 0 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    box-sizing: border-box;
}

.resume-box form {
    width: 100%;
    height: auto;
    padding: 0 0 1rem 0;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
}

.resume-box form .separator {
    width: 25%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px 0 0 0;
    border-radius: 50px;
}

.resume-box form label {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 10px 0 5px 20px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    text-align: left;
}

.resume-box form input {
    width: 100%;
    background-color: transparent;
    padding: 12px;
    margin: 0 10px 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.resume-box form input:focus {
    box-shadow: 0 0 2px rgba(46, 100, 255, 1);
    outline: 1px solid rgba(46, 100, 255, 1);
}

.resume-box form textarea {
    width: 100%;
    background-color: transparent;
    padding: 12px;
    margin: 0 10px 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    resize: none;
}

.resume-box form textarea:focus {
    box-shadow: 0 0 2px rgba(46, 100, 255, 1);
    outline: 1px solid rgba(46, 100, 255, 1);
}

.resume-box form h4 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 20px 0 5px 20px;
    color: #fff;
    text-align: left;
}

.resume-box form h5 {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    color: #fff;
    text-align: left;
}

.resume-box form h6 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    color: rgba(255, 255, 255, 0.1);
    place-self: end;
}

.resume-box form span {
    color: #e0dede;
    font-size: 13px;
    padding: 0 0 5px 20px;
}

.resume-box form p {
    font-size: 13px;
}

.kanban-toolbar {
    margin-bottom: 10px;
}

.kanban-card {
    border: none;
    padding: 12px;
    margin: 0 10px 10px 0;
    color: #fff;
    width: 100%;
    border-radius: 10px;
}

.kanban-card button {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 5px 0 7px;
    border-radius: 50px;
}

.kanban-card-content {
    background-color: transparent;
    padding: 12px 12px 12px 12px;
    margin: 0 10px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 18px;
    outline: none;
    color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 100px;
    overflow-y: auto;
}

.kanban-card-content:focus {
    box-shadow: 0 0 2px rgba(46, 100, 255, 1);
    outline: 1px solid rgba(46, 100, 255, 1);
}

.kanban-toolbar button {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .single-category-view {
        flex-direction: column;
        padding: 0;
    }
    .selection-box,
    .resume-box {
        width: 100%;
        flex-wrap: nowrap;
        padding: 0 1rem 0 1rem;
    }
    .resume-box form .separator {
        width: 80%;
    }
    .resume-box form label {
        padding: 10px 0 10px 0;
    }
    .resume-box form h4 {
        padding: 0;
        text-align: center;
    }
}

.remove-detail-point {
    border: none;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px 0 7px;
    border-radius: 50px;
    border-radius: 10px;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
}

.remove-detail-point:hover {
    color:rgba(255, 255, 255, 0.7);
}

.add-remove-sections {
    border: none;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 5px 0 7px;
    border-radius: 50px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
}

.add-remove-sections.positive:hover {
    box-shadow: 0 0 2px rgba(46, 100, 255, 1);
    outline: 1px solid rgba(46, 100, 255, 1);
    border: 1px solid rgba(46, 100, 255, 0.1);
    background-color: #242323;
}

.add-remove-sections.negative:hover {
    box-shadow: 0 0 2px rgba(146, 8, 8, 1);
    outline: 1px solid rgba(146, 8, 8, 1);
    border: 1px solid rgba(146, 8, 8, 0.1);
    background-color: #242323;
}

@media screen and (max-width: 768px) {
    .add-remove-sections {
        width: auto;
    }
    .remove-detail-point {
        width: auto;
    }
}

.tips {
    position: sticky;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    box-sizing: border-box;
    width: 16%;
    height: auto;
}

.tip-box {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(90deg, rgba(46, 100, 255, 0.25) 0%, rgba(192, 37, 255, 0.25) 100%); ;
    margin-top: 10%;
}

.tip-box h3 {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin: 0;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.tip-box p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 5px 15px 10px 15px;
    line-height: 1.3;
    color: #fff;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
}

.tip-box ol {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
}

.tip-box li {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0 10px 0;
    line-height: 1.3;
    color: #fff;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    word-wrap: break-word;
}

/* .tip-box::before {
    content: '';
    position: absolute;
    top: 55%;
    left: -20px; 
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0; 
    border-color: transparent rgba(46, 100, 255, 0.25) transparent transparent; 
} */

@media screen and (max-width: 1200px) {
    .tips {
        padding: 5px;
        top: 0;
    }
    .tip-box h3 {
        color: #fff;
        font-size: 18px;
        text-align: center;
    }
    .tip-box p,
    .tip-box li {
        font-size: 14px;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 768px) {
    .detail-box,
    .tip-box,
    .toast {
        display: none;
    }
}

.build-btn {
    width: 100%;
    padding: 10px 50px;
    margin: 50px 0 25px 0;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(46, 100, 255, 1);
    box-shadow: 0 0 2px rgba(46, 100, 255, 1);
    outline: 1px solid rgba(46, 100, 255, 1);
}

.build-btn:hover {
    box-shadow: 0 0 2px rgba(46, 100, 255, 1);
    outline: 2px solid rgba(46, 100, 255, 1);
    background-color: #242323;
}

.clear-btn {
    width: 100%;
    padding: 10px 50px;
    margin: 50px 0 25px 0;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: #242424;
    background-color: #fff;
    box-shadow: 0 0 2px #fff;
    outline: 1px solid #fff;
}

.clear-btn:hover {
    box-shadow: 0 0 2px #fff;
    outline: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .build-btn {
        width: 80%;
        margin: 50px 0 0 0;
    }
    .clear-btn {
        width: 80%;
    }
}

.error-message {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: auto;
    height: auto;
    padding: 10px 30px;
    text-align: left;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    background-color: #a80c0cd0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    border: none;
    outline: 2px solid #a80c0cd0;
    box-shadow: 0 0 2px #a80c0cd0;
    z-index: 1;
}

.error-message p {
    padding: 5px 10px;
}

.error-message button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: transparent;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 5px 0 7px;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .error-message {
        width: 90%;
        padding: 15px;
        bottom: 0;
        right: 5%;
        font-size: 16px;
        border-radius: 10px 10px 0 0;
    }
    .error-message p {
        padding: 10px 0 0 0;
    }
}


