.technical-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    box-sizing: border-box;
    width: 96%;
    height: auto;
}