/* src\index.css */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb {
    background: #ffffff17;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000;
}

::-webkit-scrollbar-track {
    background-color: #242424;
}

::-webkit-scrollbar-track:hover {
    background-color: #242424;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.fade-in.active {
    opacity: 1;
}

@media print {
    /* Set page size to A4 */
    @page {
        size: auto;
        orientation: portrait;
        counter-increment: page;
        counter-reset: page 1;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10mm;
        margin-right: 10mm;
    }
  
    .page-break-after {
        page-break-after: always;
    }
  
    /* Optionally, prevent certain elements from breaking across pages */
    .no-page-break {
        page-break-inside: avoid;
    }
}

.no-page-break {
    page-break-inside: avoid;
}

/* Apply page break before the specified elements */
.page-break-before {
    page-break-before: always;
}

/* Apply page break after the specified elements */
.page-break-after {
    page-break-after: always;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #242424;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* To hide horizontal scrollbar if any */
    }
    
    html, body {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

header {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0;
    gap: 0;
}

header a {
    text-decoration: none;
    cursor: pointer;
}

header img {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    filter: drop-shadow(0 0 2em #C026FF);
}

header img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2em #2E64FF);
}

header h1 {
    background: #2E64FF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2E64FF 0%, #C026FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

main {
    width: 100%;
    height: auto;
    min-height: 79vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

main h2 {
    text-align: center;
    margin: 0;
    padding: 2rem;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

main h2 .brand {
    font-size: 38px;
    text-transform: uppercase;
    background: #2E64FF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2E64FF 0%, #C026FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
}

main h2 .brand-2 {
    font-size: 32px;
    text-transform: uppercase;
    background: #2E64FF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2E64FF 0%, #C026FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
}

.category-selector {
    width: 100%;
    height: auto;
    min-height: 67vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    place-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 3rem;
    margin-top: 1rem;
    gap: 1.5rem;
    font-family: 'Work Sans', sans-serif;
}

.category {
    width: 20%;
    height: auto;
    padding: 1rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    header h1 {
        width: 90%;
        font-size: 45px;
    }
    main {
        width: 100%;
        height: auto;
        min-height: auto;
        padding: 0;
        margin: 0;
    }
    main h2 {
        font-size: 20px;
    }
    
    main h2 .brand {
        font-size: 35px;
    }
    
    main h2 .brand-2 {
        font-size: 30px;
    }
    .category-selector {
        width: 100%;
        height: auto;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        place-items: center;
        flex-wrap: wrap;
        padding: 1rem 2rem;
        margin-top: 0;
        gap: 15px;
        font-family: 'Work Sans', sans-serif;
    }
    .category {
        width: 100%;
        height: auto;
        padding: 1rem 0;
    }
}

.category h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 5px 0 15px 0;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    background: #2E64FF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2E64FF 0%, #C026FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 100%;
}

.category p {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.category button {
    border-radius: 10px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 500;
}

.navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.home-btn:hover {
    color:rgba(255, 255, 255, 0.7);
}

.breadcrumb {
    font-size: 20px;
    font-weight: bold;
    background: #2E64FF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2E64FF 0%, #C026FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Work Sans', sans-serif;
}

@media screen and (max-width: 768px) {
    .home-btn {
        font-size: 15px;
    }
    .breadcrumb {
        font-size: 15px;
    }
}

@media screen and (max-width: 300px) {
    .breadcrumb {
        display: none;
    }
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1.5rem 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 18px;
}
